<!-- <div class = "text-center p-2" 
 [class.bg-success] = "repo.getproduct_by_id(101).price>200">
    The first product name is : {{repo.getproduct_by_id(101).productName}}
</div>
<br>
<div class = "p-2" [class.bg-warning] = "(repo.getproduct_by_id(102).price)<200">
    The second product name is : {{repo.getproduct_by_id(102).productName}}
</div> -->


<!-- <div class = "text-center p-2">

<div [ngClass] = "getclassmap(101)">
    The <span [style.fontsize]="fontsizewithoutunits">first</span> product name is : {{repo.getproduct_by_id(101).productName}}
</div>

<br>

<div [ngClass] = "getclassmap(102)">
   The second product name is : {{repo.getproduct_by_id(102).productName}}
</div>

</div>


<div [ngStyle] = "getstyles(102)">
    The second product name is : {{repo.getproduct_by_id(102).productName}}
 </div> -->


 <!-- <div class = "card">
     <div class = "text-center bg-primary p-2 m-1 class-header">
         {{pageTitle}}
     </div>
 </div>

 <ng-template ngIf="getproducts().length==3" >
    <div class="bg-warning p-2 mt-1">
          There are 3 elements 
    </div>
</ng-template>

<br>


<div class = "bg-primary p-2 mt-1" [ngSwitch] = "getproduct(102).productName">
    <span *ngSwitchCase = "targetname">  Product is : Lemon Grass </span>
    <span *ngSwitchCase = "targetname1">  Product is : Rose Mary </span>
    <span *ngSwitchCase = "Tequilla">  Product is :  Tequilla</span>
    <span *ngSwitchDefault > No products </span>
</div> -->

<div class = "card-body">
    <div class = "row">
        <div class = "col-md-2">
            <div class = "col-md-4">
                <input type = "text" [(ngModel)] = "listFilter"/>
            </div>
        </div>
    </div>

    <div class = "row">
        <div class = "col-md-2">
            Filtered by : {{listFilter}}
        </div>
    </div>
</div>


<div class = "text-center bg-success p-2 m-1 class-header">
    {{review}}
</div>

<div class = "card">
    <div class = "text-center bg-secondary p-2 m-1 class-header">
        {{selectedItem}}
    </div>
 <div class = "table-responsive">
     <table class = "table" *ngIf  = "getproducts() && getproducts().length">
         <thead>
             <tr>
                 <th>
                     <button class ="btn btn-primary" (click) = "toggleimage()">
                         {{showimage ? 'Hide Image' : 'Show Image'}}</button>
                 </th>
                 <th>Product Id</th>
                 <th>Product Name</th>
                 <th>Product Code</th>
                 <th>Release Date</th>
                 <th>Price</th>
                 <th>Rating(out of 5 stars)</th>
             </tr>
         </thead>

         <tbody>
             <tr *ngFor = "let item of filteredProducts;let i=index" 
             [class.bg-info] = "getselected(item)" [ps-attr]="i%2===0?'bg-warning':'bg-success'">
                 <td (mouseover) = "selectedItem = item.productName">{{i+1}}</td>
                 <td *ngIf = "showimage">
                     <img [src] = "item.imageURL" [title] = "item.productName"
                    [style.width.px] = "imagewidth" [style.margin.px] = "imageheight" /></td>
                 <td>{{item.id}} </td>
                 <td>
                    <a [routerLink] = "['/products',item.id]"> {{item.productName  | uppercase }}</a> 
                </td>
                 <td >{{item.productCode | ConvertToSpace : '-' }} </td>
                 <td>{{item.releaseDate}} </td>
                 <td>{{item.price | currency : 'INR' : symbol : '1.2-2'}} </td>
                 <td> <app-star [rating]="item.star_rating" [name_prod] = "item.productName"
                    (ratingClicked) = "onstarclicked($event)"></app-star> </td>
             </tr>
         </tbody>
     </table>
 </div>
 </div>

 <div class= "form-group">
     <label>Product Name : </label>
     <input class = "form-control"  [(ngModel)] = "selectedItem" />
 </div>

 
  <!-- <div *ngFor = "let item of somedata">
    <div class = "row">
        <div class = "col-md-8">
 
         <div class = "row">
           <div class = "col-md-3"> Name : </div>
           <div class = "col-md-3"> {{item.productName}} </div>
         </div>
 
 
         <div class = "row">
           <div class = "col-md-3"> Product Code : </div>
           <div class = "col-md-3"> {{item.productCode | ConvertToSpace : '-'}} </div>
         </div>
        
         <div class = "row">
           <div class = "col-md-3"> Price : </div>
           <div class = "col-md-3"> {{item.price}} </div>
         </div>
 
         <div class = "row">
           <div class = "col-md-3"> Release Date : </div>
           <div class = "col-md-3"> {{item.releaseDate}} </div>
         </div>
 
        </div>
     </div>
  </div> -->
  <!-- <style >
    input.ng-dirty.ng-invalid {
        border : 2px solid red;
    }
    input.ng-dirty.ng-valid{
        border : 2px solid lightgreen;
    }
</style>

<div class = "row m-2" >
          New product added : {{jsonProduct}}
</div>


<div class = "row m-2">
    <div class = "col-6">
    <form novalidate  [formGroup]="formGroup"  (ngSubmit)="submitform()">
         
        <div class = "bg-danger text-white p-2 mb-2" *ngIf = "formsubmitted && formGroup.invalid"> 
              There are problems with the form  
            <ul>
                <li *ngFor = "let error of formGroup.getFormValidationmsg()">
                    {{error}}
                </li>
            </ul>
        </div> -->

            <!-- <div class = "form-group" *ngFor= "let control of formGroup.productControls">
                <label> {{control.label}} </label>
                <input class = "form-control" name="{{control.modelProperty}}" formControlName="{{control.modelProperty}}"/>

                 <ul class = "text-danger list-unstyled" *ngIf="(formsubmitted || control.dirty) && control.invalid">
                    <li *ngFor="let error of control.getvalidationmsg()">
                        {{error}}
                    </li>
                </ul>
            </div>  
            
            <button class = 'btn btn-secondary' type="submit" [disabled]="formGroup.invalid">
                Create 
            </button>
    </form>

    </div>
</div>  -->





<!-- <div class = "form-group">
    <label> Product Code </label>
    <input class = "form-control" name = "prodcode" formControlName="code" />

     <ul class = "text-danger list-unstyled" *ngIf="(formsubmitted || formGroup.controls['code'].dirty) && formGroup.controls['code'].invalid">
        <li *ngFor="let error of formGroup.getvalidationmsg('code')">
            {{error}}
        </li>
    </ul>

</div>  

<div class = "form-group">
    <label> Price </label>
    <input class = "form-control" name = "price_given"  formControlName="price"/>

     <ul class = "text-danger list-unstyled" *ngIf="(formsubmitted || formGroup.controls['price'].dirty) && formGroup.controls['price'].invalid">
        <li *ngFor="let error of formGroup.getvalidationmsg('price')">
            {{error}}
        </li>
    </ul>
</div>   -->


<!-- <div class = "table-responsive">
    <table class = "table" *ngIf  = "getproducts() && getproducts().length">
        <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
                <th>Product Code</th>
                <th>Price</th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor = "let item of getproducts();let i=index" [ps-attr]="getproduct_cnt()<4?'bg-secondary':'bg-warning'">
                <td>{{i+1}}</td>
                <td>{{item.productName}}</td>
                <td>{{item.productCode}}</td>
                <td>{{item.price}}</td>
            </tr>
        </tbody>
    </table>
</div> -->